{% extends 'base.html' %}


{% block content %}
<!-- Begin page content -->

<div class="container">
    <div class="row">
        <div class="col">
            <h1>{{ pagename }}</h1>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <form action="" method="post">
                {% csrf_token %}
                <table>
                    {{ form }}
                </table>
                <button type="submit">Создать</button>
                                 
            </form>

        </div>
    </div>
</div>
{% endblock  %}
